.cartContainer{
  margin-top: 2rem;
}
.carts{
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 11px #c5b3b3;
}
.cart-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  font-weight: bold;
  color: #383838;
}
.products-list{
  display: flex;
  flex-direction: column;
  max-height: 28rem;
  overflow-y: scroll;
}

.listing{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.listing img{
  width: 55px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #FFC502;
  
}
.pname{
  overflow: hidden;
  color: #2b2b2b;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
}
.qtyBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  background-color:#EFEFEF;
  border-radius: 5px;
  width: 62px;
}
.fbold{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 12px;
}
.price {
  color: black;
  margin-bottom: 5px;
}
button.p-m-btn.btn.btn-none.btn-sm {
  font-size: 7px;
}
.midsec {
    margin-left: 5px;
    width: 30rem;
    margin-right: 5px;
}
.lstsec {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons{
  background-color: #ffc5023d;
  color: #FF6B00;
  border-radius: 50%;
}
.selected{
  color: #FFC502;
}

.hr{
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
button{
  outline: none !important;
  box-shadow: none !important;
}
.product-summary{
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 11px #c5b3b3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  height: 70px;
}
.summary-title{
  padding-bottom: 5px;
}
.summary-info{
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
.link span{
  text-decoration: none;
  border-radius: 5px;
  background-color: #FFC502;
  padding: 0.5rem;
  cursor: pointer;
  color: #000000;
}
.link span:hover {
  color: #ffffff;
  
}
.link a{
  text-decoration: none;
  color: #000000;
  background-color: #ffce2c;
  border-radius: 8px;
  padding: 8px;
  padding-inline: 15px;
}
.return{
  margin-top: 1rem;
}
.return a{
  color: #FFC502;
}
.products-list::-webkit-scrollbar {
	width: 3px;
  }
.products-list::-webkit-scrollbar-thumb {
background: #888; 
}
.products-list::-webkit-scrollbar-track {
  background: #e9e9e9; 
  }
  .cartContainer.container {
    padding-bottom: 5rem;
}