.sliderUpcoming{
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}

.custom{
	padding-top: 0px !important;
	height: 300px !important;
    border-radius: 10px !important;

}
.displaynone{
    display:none;
}
.upcomingImg{
    width: 100%;
    height: auto;
    border-radius: 10px;
}